body {
    background:url(../images/trees.png);
    margin:0;
    height:100%;
}

header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    border-color:#cccccc;
    position:static;
    margin:-25px auto;
}

#name{
    background-color:#4aaaa5;
    color:#ffffff;
    width:250px;
    height:90px;
    text-align: center;
    margin-left:230px;
    font-size:30px;
    line-height:4;
}


#links {
    position:absolute;
    top:5px;
    right:250px;
    font-size:16px;
}

.wrap {
    background-color:#ffffff;
    border-color:#555;
    width:960px;
    align-content: center;
    margin:50px auto;
    padding:15px;
    height:auto;
    padding-top:5px;
}

#contact {
    color:#4aaaa5;
    border-bottom-style: solid;
    border-color:grey;
    text-align:left;
    font-size:30px;
    height:40px;
}

input[type=text] {
    width:100%;
    margin: 8px 0;
    box-sizing:border-box;
    padding: 5px 20px;
    border: 1px solid #555;
}

#message {
    padding:50px;
}

input[type=submit] {
    background-color:#4aaaa5;
    border:none;
    color:white;
    padding:10px 32px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
}


footer {
    background-color:#666666;
    border-top-width:8px;
    border-style:solid;
    border-color:#4aaaa5;
    height:85px;
}

